<!-- [ Pre-loader ] End -->
<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menupos-fixed menu-light brand-blue">
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo">
      <a
        href="/dashboard"
        class="b-brand d-flex justify-content-center align-items-center"
      >
        <img
          src="/images/edabk_logo.jpg"
          alt="logo-1"
          class="logo images"
          style="width:40px;height:40px"
        />
        <img
          src="/images/edabk_logo.jpg"
          alt="logo-2"
          class="logo-thumb images"
          style="width:40px;height:40px"
        />
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
    </div>
    <div class="navbar-content scroll-div">
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item pcoded-menu-caption">
          <label>Navigation</label>
        </li>
        <li class="nav-item">
          <a href="/dashboard" class="nav-link"><span class="pcoded-micon"><i
                class="feather icon-home"
              ></i></span><span class="pcoded-mtext">Dashboard</span></a>
        </li>
        <li class="nav-item pcoded-hasmenu">
          <a href="#!" class="nav-link"><span class="pcoded-micon"><i
                class="feather icon-box"
              ></i></span><span class="pcoded-mtext">Phân tích dữ liệu</span></a>
          <ul class="pcoded-submenu">
            <li class=""><a href="/visualize/visualize-all" class="nav-link">Dữ liệu ra vào lab</a></li>
            <li class=""><a href="/visualize/visualize-one" class="nav-link">Dữ liệu hoạt động của
                thành viên</a></li>
          </ul>
        </li>
        <li class="nav-item pcoded-menu-caption">
          <label>Quản lý</label>
        </li>
        <li class="nav-item pcoded-hasmenu">
          <a href="#!" class="nav-link"><span class="pcoded-micon"><i
                class="feather icon-lock"
              ></i></span><span class="pcoded-mtext">Quản lý tài khoản</span></a>
          <ul class="pcoded-submenu">
            <li class=""><a href="auth-signup.html" class="nav-link" target="_blank">Tài
                khoản admin</a></li>
            <li class=""><a href="auth-signin.html" class="nav-link" target="_blank">Tài
                khoản thành viên</a></li>
          </ul>
        </li>
        <li class="nav-item"><a href="/members" class="nav-link"><span
              class="pcoded-micon"
            ><i class="feather icon-sidebar"></i></span><span
              class="pcoded-mtext"
            >Danh sách thành viên lab</span></a></li>
        <li class="nav-item">
          <a href="/events" class="nav-link"><span
              class="pcoded-micon"
            ><i class="feather icon-file-text"></i></span><span
              class="pcoded-mtext"
            >Sự kiện</span></a>
        </li>
        <li class="nav-item disabled"><a href="#!" class="nav-link"><span
              class="pcoded-micon"
            ><i class="feather icon-power"></i></span><span
              class="pcoded-mtext"
            >Disabled menu</span></a></li>
      </ul>
    </div>
  </div>
</nav>