<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="fonts/icomoon/style.css" />

    <link rel="stylesheet" href="css/owl.carousel.min.css" />

    <link href="stylesheets/vanillatoasts.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/pages/page.css" />

    <link rel="stylesheet" href="plugins/animation/css/animate.min.css">

    <link rel="stylesheet" href="css/style.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    {{! Icon }}
    <link rel="icon" href="images/edabk_logo.jpg" />
    <title>Document</title>
    <script src="js/vanillatoasts.js"></script>
  </head>
  <body>
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    {{>sidebar}}
    {{>header}}
    <main id="app-body">
      <div id="sidebar">
        {{>sidebar}}
      </div>
      {{{body}}}
    </main>
    <script src="js/vendor-all.min.js"></script>
    <script src="js/bootstrap.min.js">
    </script>
    <script src="js/pcoded.min.js"></script>
  </body>
</html>