<!DOCTYPE html>
<html lang="en">

<head>

    <title>EDABK</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
    	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Flash Able Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
    <meta name="keywords"
        content="admin templates, bootstrap admin templates, bootstrap 4, dashboard, dashboard templets, sass admin templets, html admin templates, responsive, bootstrap admin templates free download,premium bootstrap admin templates, Flash Able, Flash Able bootstrap admin template">
    <meta name="author" content="Codedthemes" />

    <!-- Favicon icon -->
    <link rel="icon" href="/images/edabk_logo.jpg" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="/plugins/animation/css/animate.min.css">

    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/jquery-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="/fonts/datta/datta-icon.css">
    <link rel="stylesheet" href="/fonts/feather/css/feather.css">
    
    <!-- vendor css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/stylesheets/tailwind.css">
    <script src="/js/echarts.min.js"></script>

</head>

<body class="">
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ navigation menu ] start -->
    {{>sidebar}}
    <!-- [ navigation menu ] end -->

    <!-- [ Header ] start -->
    {{>header}}
    <!-- [ Header ] end -->
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
			<div class="pcoded-content">
				<div class="pcoded-inner-content">
					<div class="main-body">
						<div class="page-wrapper">
							{{{body}}}

							<!-- [ Main Content ] end -->
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
    <!-- [ Main Content ] end -->

    <!-- Required Js -->
    <script src="/js/vendor-all.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/pcoded.min.js"></script>
    
    <script src="/js/main.js"></script>
    {{!-- <script type="text/javascript">
          var chartDom = document.getElementById("main"); var myChart =
          echarts.init(chartDom); var option; const data = { Face1: [ { Name:
          "Face 1", Top: 151, Left: 837, Width: 251, Height: 267, "Frame
          number": 37, Time: "2022-04-19 23:59:48", }, ], Face2: [ { Name: "Face
          2", Top: 155, Left: 837, Width: 217, Height: 265, "Frame number": 38,
          Time: "2022-04-19 23:59:48", }, { Name: "Face 2", Top: 90, Left: 823,
          Width: 233, Height: 295, "Frame number": 44, Time: "2022-04-19
          23:59:49", }, { Name: "Face 2", Top: 95, Left: 806, Width: 230,
          Height: 303, "Frame number": 59, Time: "2022-04-19 23:59:51", }, {
          Name: "Face 2", Top: 191, Left: 709, Width: 211, Height: 283, "Frame
          number": 62, Time: "2022-04-19 23:59:52", }, { Name: "Face 2", Top:
          249, Left: 660, Width: 207, Height: 272, "Frame number": 67, Time:
          "2022-04-19 23:59:53", }, ], }; let arrSum = Object.values(data)
          ?.reduce((result, item) => result.concat(item), []) ?.map((turn) =>
          turn.Time); let finalData = [...new Set(arrSum)].map((item) => [ +new
          Date(item), arrSum.filter((time) => item === time).length, ]);
          console.log(finalData); option = { tooltip: { trigger: "axis",
          position: function (pt) { return [pt[0], "10%"]; }, }, title: { left:
          "center", text: "Large Ara Chart", }, toolbox: { feature: { dataZoom:
          { yAxisIndex: "none", }, restore: {}, saveAsImage: {}, }, }, xAxis: {
          type: "time", boundaryGap: false, }, yAxis: { type: "value",
          boundaryGap: [0, "100%"], }, dataZoom: [ { type: "inside", start: 0,
          end: 20, }, { start: 0, end: 20, }, ], series: [ { name: "Fake Data",
          type: "line", smooth: true, symbol: "none", areaStyle: {}, data:
          finalData, }, ], }; myChart.setOption(option);
        </script> --}}
</body>

</html>
